{% extends 'base.html.twig' %}

{% block title %}Mon compte- Moove Your Body{% endblock %}

{% block content %}
    <h1> Mon Compte </h1>
    Bienvenue {{ app.user.firstname }} dans votre compte.<br/>
    c'est dans cet espace que vous allez pouvoir gérer toutes vos informations
    <hr>
    -<a href="{{ path('account_password') }}">Modifier mon mot de poasse</a><br/>
    -Ajouter mes adresses<br/>
    -Mes commandes<br>
    <hr>
{% endblock %}
