<h1>Bonjour {{ firstname }} {{ lastname }}</h1>

<p><br/>Vous avez demandé à réinitialiser votre mot de passe sur le site 'Move Your Body'.<br/><br/>
Merci de bien vouloir cliquer sur le lien suivant <a href= "{{ "https://127.0.0.1:8000" ~ url }}">pour mettre à jour votre mot de passe</a></br></br>

Cordialement!</p>