{% extends 'base.html.twig' %}

{% block title %}Nos produits - Move Your Body{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row" >
        <div class="col-md-3">
            <h5>Filtrer</h5>
            {# {{ dump(form) }} #}
            {{ form(form) }}
        </div>  
        <div class="col-md-9">    
            <h3>Nos produits</h3>
       
            <div class="row product-container">
            {% for product in products %}
                <div class="col-md-4">
                    {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div> 
</div>
{% endblock %}
