{% extends 'base.html.twig' %}

{% block title %} Contacter nous{% endblock %}

{% block content %}
    <h3 class="title mt-5">Nous contacter</h3>
    <p>N'hésiter pas à prendre contacte avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
      <div class="row">
        <div class="col-md-8">{{ form(contactForm) }}</div>
        <div class="col-md-4 mt-4">
            <strong>Move your Body</strong>
            <hr>
            tél: 01 32 25 12 04<br/>
            16 rue des Joncquilles<br/>
            78560 Montigny le Bretonneux
            contact@moveyourbody.fr<br/>
        </div>
    </div>
    
    {# <input type="submit" value="Envoyer" class="btn btn-success"> #}

{% endblock %}
