
<!-- FOOTER -->
      {# <div class="footer-custom">
        {# <p class="float-right"><a href="#">Back to top</a></p> #}
        {# <p>
          &copy; 2022 La boutique du sport<br/>
          <small>LA boutique qui va vous faire aimer le sport!!

           &middot; <a href="#">Privacy</a>.<a href="#">Terms</a></small>
        </p>
      </div> #}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# <link rel="stylesheet" href="public/assets/css/footer.css"> #}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>
   <body>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
                  <h4>Company</h4>
                  <ul>
                      <li><a href="#">à propos</a></li>
                      <li><a href="#">nos services</a></li>
                      <li><a href="#">politique de confidentialité</a></li>
                      <li><a href="#">programme de fidélité</a></li>
                    </ul>
            </div>
            <div class="footer-col">
                  <h4>Aide</h4>
                  <ul>
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">Livraison</a></li>
                      <li><a href="#">politique de retours</a></li>
                      <li><a href="#">statut de commande</a></li>
                      <li><a href="#">options de paiement</a></li>
                    </ul>
            </div>
            <div class="footer-col">
                  <h4>Boutique en ligne</h4>
                  <ul>
                      <li><a href="#">nos produits</a></li>
                      <li><a href="#">notre actus</a></li>
                      <li><a href="#">qui sommes nous</a></li>
                    
                    </ul>
            </div>
            <div class="footer-col">
                  <h4>Suivez-nous</h4>
                  <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  
            </div>
          </div>
          <div class="footer-custom">
          <p>
          &copy; 2022 La boutique du sport<br/>
          <small>LA boutique qui va vous faire aimer le sport!!

           {# &middot; <a href="#">Privacy</a>.<a href="#">Terms</a></small> #}
        </p>
      </div>
          {# <div class="footer-col">
                  <h4></h4>
                  <ul>
                      <li><a href="#"></a></li>
                    </ul>
            </div> #}
        </div>
      </footer>
      </body>
      </html>