{% extends 'base.html.twig' %}

{% block title %}Valider ma commande- Move Your Body!{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Faite votre shopping</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Choisir mon adresse de livraison</b><br/>
            {{ form(form) }}
            <b>Choisir mon transporteur</b>
        </div>
        <div class="col-md-6">
            <b>Récap de ma commande</b><br/>
            <b>Boutton pour payer</b>
        </div>
    </div>            

{% endblock %}
